.product {
    width: 300px;
    height: 550px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;

}

.product img {
    width: 286px;
    border-radius: 12px;
    padding: 7px;
}

.product-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    padding-top: 7px;
}

.product-info {
    margin: 0 14px;
}

.product-info p {
    margin-bottom: 0;
    margin-top: 5px;
}

.btn-cart {
    width: 90%;
    background: #879ee8;
    border-radius: 8px;
    border: 0;
    position: absolute;
    left: 15px;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cart p {
    margin-right: 5px;
}

.btn-cart:hover {
    background: rgb(41, 83, 249);
    color: white;
}